<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fundrive.navaidlclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.AuthorNumberActivity" />
        <activity android:name=".modules.MapDisplayModeActivity" />
        <activity android:name=".modules.SetValumeActivity" />
        <activity android:name=".modules.SetMuteActivity" />
        <activity android:name=".modules.RouteConditionActivity" />
        <activity android:name=".modules.TimeInfoActivity" />
        <activity android:name=".modules.LanguageActivity" />
        <activity android:name=".modules.MutimediaInformationActivity" />
        <activity android:name=".modules.GuideSoundTypeActivity" />
        <activity android:name=".modules.WritingStateActivity" />
        <activity android:name=".modules.RoutStateActivity" />
        <activity android:name=".modules.ShowHideActivity" />
        <activity android:name=".modules.ScaleMapActivity" />
        <activity android:name=".modules.SwitchNavActivity" />
        <activity android:name=".modules.ShowTargetVolumeActivity" />
        <activity android:name=".modules.SwitchMapViewActivity" />
        <activity android:name=".modules.RouteByConditionActivity" />
        <activity android:name=".modules.SetDisplayScreenActivity" />
        <activity android:name=".modules.ListAnimationActivity" />
        <activity android:name=".modules.FavoriteGuidanceActivity" />
        <activity android:name=".modules.ControlMutimediaActivity" />
        <activity android:name=".modules.HelpInfoActivity" />
        <activity android:name=".modules.SelectRouteGuideActivity" />
        <activity android:name=".modules.SwitchWindowModeActivity" />
        <activity android:name=".modules.GetFavoritePointActivity" />
        <activity android:name=".modules.UpdateFavActivity" />
        <activity android:name=".modules.InputActivity" />
        <activity android:name=".modules.SearchPoiByConditionActivity" />
        <activity android:name=".modules.GetPoiPageDataActivity" />
        <activity android:name=".modules.SelectPoiSearchCenter" />
        <activity android:name=".modules.GetPonitInfoActivity" />
        <activity android:name=".modules.SetRouteViewModeActivity" />
        <activity android:name=".modules.SetBoardcastModeActivity"></activity>
    </application>

</manifest>